<!DOCTYPE html>
<html>
<head>
    <title>Color generator</title>
    <style>
        body {
            height: 100vh;
            width: 100vw;

            display: flex;

            justify-content: center;

            margin: 0;
        }

        .interaction {
            width: 25vw;
            height: 5vh;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            position: absolute;
            z-index: 10;
            bottom: 0;

            margin-bottom: 5vh;

            border-radius: 10px;
            background-color: #fff;
        }
        .interaction > .shuffle, .interaction > .validate {
            width: 40px;
            height: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        .interaction > .shuffle:hover, .interaction > .validate:hover {
            cursor: pointer;
            background-color: rgba(200, 200, 200, 0.4);
            border-radius: 10px;
        }
        i.svg-shuffle {
            height: 24px;
            width: 24px;
            background-size: 100% 100%;
            background-image: url("/static/shuffle.svg");
        }
        i.svg-checkmark {
            height: 24px;
            width: 24px;
            background-size: 100% 100%;
            background-image: url("/static/checkmark.svg");
        }


        .colors {
            height: 100vh;
            width: 100vw;

            display: flex;
            flex-direction: row;
        }

        .color {
            height: 100%;
            width: 20%;

            display: flex;
            flex-direction: column;

            justify-content: flex-end;
            align-items: center;

            text-align: center;
        }

        .color-content {
            display: flex;
            flex-direction: column;

            padding-bottom: 15vh;
        }

        .color-evaluation {
            display: flex;
            flex-direction: row;

            justify-content: space-evenly;

            padding-bottom: 1rem;
        }

        .color-evaluation-item {
            height: 40px;
            width: 40px;

            display: flex;

            justify-content: center;
            align-items: center;

            margin-left: 0.1rem;
            margin-right: 0.1rem;
        }

        .color-evaluation-item:hover {
            background-color: rgba(240, 255, 255, 0.2);
            border-radius: 10px;

            cursor: pointer;
        }

        .color-evaluation-item.active, .color-evaluation-item.active:hover {
            background-color: rgba(240, 255, 255, 0.4);
            border-radius: 10px;
        }

        .color-evaluation-item.active > i.svg-heart {
            background-image: url("/static/heart-filled.svg");
        }

        .color-evaluation-item.active > i.svg-heart-half {
            background-image: url("/static/heart-half-filled.svg");
        }

        .color-evaluation-item.active > i.svg-heart-dislike {
            background-image: url("/static/heart-dislike-filled.svg");
        }


        i.svg-heart {
            height: 24px;
            width: 24px;
            background-size: 100% 100%;
            background-image: url("/static/heart-outline.svg");
        }

        i.svg-heart-half {
            height: 24px;
            width: 24px;
            background-size: 100% 100%;
            background-image: url("/static/heart-half-outline.svg");
        }

        i.svg-heart-dislike {
            height: 24px;
            width: 24px;
            background-size: 100% 100%;
            background-image: url("/static/heart-dislike-outline.svg");
        }

        .color-hex {
            font-family: "Gill Sans MT", serif;
            font-size: 2em;

            -webkit-font-smoothing: antialiased;
        }

        .color-name {
            font-family: Inter, sans-serif;
            font-size: 1em;
        }
    </style>
</head>
<body>

<div class="interaction" style="display: flex">
    <div class="shuffle">
        <i class="svg-shuffle"></i>
    </div>
    <div class="validate">
        <i class="svg-checkmark"></i>
    </div>
</div>

<div class="colors">
    {{range $colorId, $color := .colors}}
        <div class="color" id="{{$colorId}}" style="background-color: #{{$color.Value}}">
            <div class="color-content">
                <div class="color-evaluation">
                    <div class="color-evaluation-item" id="-1">
                        <i class="svg-heart-dislike"></i>
                    </div>
                    <!--
                    <div class="color-evaluation-item" id="1">
                        <i class="svg-heart-half"></i>
                    </div>
                     -->
                    <div class="color-evaluation-item" id="1">
                        <i class="svg-heart"></i>
                    </div>
                </div>

                <div class="color-hex">{{$color.Value}}</div>
                <div class="color-name">{{$color.Name}}</div>
            </div>
        </div>
    {{end}}
</div>

<script>
    const shuffle = document.querySelector('.shuffle');
    shuffle.addEventListener('click', () => {
        location.reload();
    });

    const validate = document.querySelector(".validate");
    validate.addEventListener("click", () => {
        fctValidate();
    });

    // Keyboard commands
    document.onkeydown = (e) => {
        if (e.code === 'Space') location.reload();
        else if (e.code === 'Enter') fctValidate();
    };


    // Color evaluation buttons
    const colors = document.querySelectorAll('.color');
    colors.forEach(item => {
        const evaluationsItems = item.querySelectorAll('.color-evaluation-item');
        evaluationsItems.forEach(evalItem => {
            evalItem.addEventListener('click', () => {
                // If contains active class, remove it
                if (evalItem.classList.contains('active')) {
                    evalItem.classList.remove('active');
                } else {
                    // Remove old active class on another eval item
                    evaluationsItems.forEach(ei => {
                        if (ei.id === evalItem.id) {
                            return;
                        }

                        ei.classList.remove('active');
                    });

                    evalItem.classList.add('active');
                }
            });

        });

    });


    function fctGetEvaluations() {
        const activeItems = {};

        const colors = document.querySelectorAll('.color');
        colors.forEach(item => {
            const activeItem = item.querySelector('.color-evaluation-item.active');
            activeItems[item.id] = activeItem ? activeItem.id : "0";
        });

        return activeItems;
    }
    function fctValidate() {
        const evaluations = fctGetEvaluations();
        if(Object.keys(evaluations).length === 0) {
            return;
        }

        const params = new URLSearchParams(location.search);
        const userId = params.get('userId');
        fctSendEvaluation(userId, evaluations);

        location.reload();
    }
    function fctSendEvaluation(userId, evaluations) {
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "http://localhost:8080/post");

        xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
        xhr.setRequestHeader('Access-Control-Allow-Credentials', 'true');

        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = () => console.log(xhr.responseText);
        const data = `{
            "user_id": "${userId}",
            "evaluations": ${JSON.stringify(evaluations)}
        }`;

        console.log(data);


        xhr.send(data);
    }
</script>
</body>
</html>
